<div class="jumbotron center">
     <h1>Welcome to ClassroomSidekick!</h1>
     <% if user_signed_in? %>
          
          <%= link_to 'Click here to see all your current requests', posts_path %>
          
     <% else %>
       <p>
         <%= link_to "Teacher Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Teacher Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %><p></p>
       </p>
       
       <p>Helping has never been so simple.  At ClassroomSidekick, teachers post small requests for items they need in their classroom.  Parents review the requests and help where they can.</p>

      <% end %>         
  
</div>

<div class="row center">
    <p>Parents, enter the email address of your child's teacher and click 'Go' to see the request list </p>
    
    
            <%= form_tag("/posts/list", method: "get") do %>
              <%= label_tag(:q, "Teacher Email:") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Go") %>
            <% end %>
            
    <% @posts.each do |post| %>
        <div class="box panel panel-default">
          <strong><%= post.description %></strong></br>
          <div class="panel-body">
          <%= post.link %>
          <p></p><p><strong>Posted by:</strong> <%= post.user.email if post.user %></br><p></p></p>
    <% end %>  
      
            
            
</div>