<p id="notice"><%= notice %></p>

<div id="posts" class="transitions-enabled">
  <% @posts.each do |post| %>
    <div class="box panel panel-default">
      <%= post.description %>
      <div class="panel-body">
      <%= post.link %>
      <%= post.user.email if post.user %>
      <%= link_to 'Show', post_path(post) %>
      <% if post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>


