<p id="notice"><%= notice %></p>

<h1><p>Here is a listing of requested items:</p></h1>

<div id="posts" class="transitions-enabled">
  <% @posts.each do |post| %>
    <div class="box panel panel-default">
      <strong><%= post.description %></strong></br>
      <div class="panel-body">
      <%= post.link %>
      <p></p><p><strong>Posted by:</strong> <%= post.user.email if post.user %></br><p></p></p>
      <%= link_to "Commit to contribute", new_user_registration_path, class: "btn btn-default btn-sm" %>
       </p>
    
     <div class="actions">
    
    
      <%= link_to post_path(post) do %>
      <span class="glyphicon glyphicon-star"></span>
      Show
    <% end %>
      <% if post.user == current_user %>
       
          <%= link_to edit_post_path(post) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


